.botao-verde {
    &:link,
    &:visited,
    &:hover,
    &:active,
    & {
        background-color: $clr-green-300;
        padding: $spc-200;
        height: 5.4rem;
        border-radius: 3rem;
        border: 0;
        font-weight: 600 !important;
        color: $clr-black !important;
        text-decoration: none;
        min-width: 45rem;
        margin: 0 auto;
        cursor: pointer;
        margin-top: $spc-700;
        transition: transform $transition-duration-short $transition-function;
        @include flex($justify: center, $align: center, $gap: $spc-100);

        @include respond(m) {
            margin-top: 0;
        }

        @include respond(xm) {
            min-width: 100%;
        }
    }

    &:hover,
    &:active {
        transform: scale(1.05);
    }
}
