


/****************************************/
/* CSS Background-Color */
/****************************************/

input[type="radio"]:checked:before,
#adminmenu li.wp-has-current-submenu a.wp-has-current-submenu, 
#adminmenu li.current a.menu-top, 
.folded #adminmenu li.wp-has-current-submenu, 
.folded #adminmenu li.current.menu-top, 
#adminmenu .wp-menu-arrow, 
#adminmenu .wp-has-current-submenu .wp-submenu .wp-submenu-head, 
#adminmenu .wp-menu-arrow div,
.wrap h1:after,
.theme-browser .theme.active .theme-name,
.widget.open .widget-top,
#available-widgets .widget:hover .widget-top,
.widgets-chooser li.widgets-chooser-selected,
.menu li.menu-item-edit-active .menu-item-handle,
.wp-core-ui .attachment.details .check, .wp-core-ui .attachment.selected .check:focus, .wp-core-ui .media-frame.mode-grid .attachment.selected .check,
.post-state,
.theme-browser .theme.add-new-theme a:hover:after, .theme-browser .theme.add-new-theme a:focus:after,
.acf-field-group .acf-label label:after,
.acf-radio-list label.selected {
	background-color: #ff6600;
}

/****************************************/
/* CSS Background-Color - IMPORTANT */
/****************************************/

.wrap .add-new-h2, 
.wrap .add-new-h2:active, 
.wrap .page-title-action, 
.wrap .page-title-action:active,
#minor-publishing-actions input, 
#major-publishing-actions input, 
#minor-publishing-actions .preview,
.wp-core-ui .button-primary,
.wp-core-ui button.button.button-primary
.wp-core-ui input.button.button-primary,
button.button.button-hero,
.wp-core-ui .button-primary[disabled],
.acf-switch.-on,
.switch-light.switch-yoast-seo a, .switch-toggle.switch-yoast-seo a,
.select2-container--default .select2-results__option--highlighted[aria-selected],
.acf-image-uploader .acf-actions a,
.acf-field-object.open > .handle,
.acf-box .footer,
.composer-switch a,
.wpat-logout-button {
	background-color: #ff6600!important;
}

/****************************************/
/* CSS Border-Color */
/****************************************/

#adminmenu .wp-submenu, 
.folded #adminmenu a.wp-has-current-submenu:focus + .wp-submenu, 
.folded #adminmenu .wp-has-current-submenu .wp-submenu,
.plugins .active th.check-column, .plugin-update-tr.active td,
.theme-browser .theme.active,
.menu li.menu-item-edit-active .menu-item-handle,
.acf-radio-list label.selected {
	border-color: #ff6600;
}

/****************************************/
/* CSS Border-Color - IMPORTANT */
/****************************************/

.wrap .add-new-h2, 
.wrap .add-new-h2:active, 
.wrap .page-title-action, 
.wrap .page-title-action:active,
#minor-publishing-actions input, 
#major-publishing-actions input, 
#minor-publishing-actions .preview,
.wp-core-ui .button-primary,
.wp-core-ui button.button.button-primary
.wp-core-ui input.button.button-primary,
.widget.open .widget-top,
#available-widgets .widget .widget-top:hover,
.acf-field-object.open > .handle {
	border-color: #ff6600!important;
}

/****************************************/
/* CSS Border-Right-Color - IMPORTANT */
/****************************************/

#adminmenu .wp-has-submenu.opensub:after {
	border-right-color: #ff6600!important;
}

/****************************************/
/* CSS BOX-SHADOW */
/****************************************/

.wp-core-ui .attachment.details {
	box-shadow: inset 0 0 0 3px #fff, inset 0 0 0 7px #ff6600;
}

/****************************************/
/* CSS COLOR */
/****************************************/

a, .wp-core-ui .button-link, .media-menu > a, .media-frame a,
#adminmenu a:hover, 
#adminmenu li.menu-top.wp-not-current-submenu > a:focus, 
#adminmenu .wp-submenu a:hover, 
#adminmenu .wp-submenu a:focus, 
#adminmenu li.opensub > a.menu-top,
#adminmenu div.wp-menu-image:before,
.wrap h1,
table.widefat tr:hover td a:not(.submitdelete):not(.delete):not(.vim-u),
h2,
.theme-browser .theme.add-new-theme a:hover span:after, .theme-browser .theme.add-new-theme a:focus span:after,
.acf-field-message > .acf-label label {
	color: #ff6600;
}

/****************************************/
/* CSS COLOR - IMPORTANT */
/****************************************/

.select2-container--default .select2-selection--multiple .select2-selection__choice__remove,
.acf-tab-wrap.-left .acf-tab-group li a,
.acf-field-group .acf-label label,
#woocommerce_dashboard_status .wc_status_list li a strong {
	color: #ff6600;
}

/****************************************/
/* RTL - CSS Border-Left-Color - IMPORTANT */
/****************************************/

.rtl #adminmenu .wp-has-submenu.opensub:after {
	border-right-color: transparent!important;
	border-left-color: #ff6600!important;
}

/****************************************/
/* RTL - CSS Border-Right-Color - IMPORTANT */
/****************************************/

.rtl #adminmenu .wp-submenu {
	border-left-color: transparent!important;
	border-right-color: #ff6600!important;
}









	/****************************************/
	/* Custom Toolbar Icon */
	/****************************************/

	#wpadminbar #wp-admin-bar-wp-logo > .ab-item .ab-icon:before {
		content: '';
		background-image: url('https://www.hashtagtreinamentos.com/wp-content/uploads/2020/12/logo-hash-oficial.png');
		background-position: center center;
		background-repeat: no-repeat;
		background-size: cover;
		position: absolute;
		top: 50%;
		margin-top: -10px;
    	width: 26px;
    	height: 26px;
	}





